.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .input-label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .input {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 15px;
    border: 2px solid #b9b9b9;
    .text-field:focus,
    .ant-select:focus-within,
    .ant-select-selector:focus-within {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .text-field {
      flex: 1;
      margin-right: 5px;
      font-size: 16px;
      color: #333333;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .select {
      width: 160px;
      margin-left: 5px;
      font-size: 16px;
      color: #333333;
      border: none;
      background-color: transparent;
      transition: border-color 0.2s ease;

      .ant-select-selector {
        border: none;
        outline: none;
        box-shadow: none;
      }

      .ant-select-selection-placeholder {
        color: #b3b3b3;
      }

      .ant-select-arrow {
        color: #b3b3b3;
      }

      &:focus-within {
        border-color: #1890ff;
      }
    }
  }
}

.option {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}
