.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 100%;
}

.reverse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

